@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Emilys Candy', serif !important;
}


@font-face {
  font-family: 'Emilys Candy';
  src: url(/fonts/Emilys_Candy/EmilysCandy-Regular.ttf)
}
